@font-face{
    font-family: 'Encabezados-FONTSPRING';
    src: url('../res/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Cuerpo-Satoshi';
    src: url('../res/fonts/Satoshi-Black.otf') format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}