.footer{
    background-color: #f0f0f0;
    width: 100vw;
    height: 400px;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 10;
}

.footer_content{
    width: 90vw;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    justify-self: center;
}

.footer_content .logo_and_info{
    margin: 140px 10px 10px 100px;
}

.logo{
    height: 30px;
    width: 220px;
}

.info{
    font-family: 'Cuerpo-Satoshi';
    font-size: 16px;
    color:#00000091;
    height: 50px;
    width: 260px;
}

.other_items{
    margin: 120px 10px 10px 100px;
    display: flex;
    flex-direction: column;
}

.items_footer{
    color: #00000091;
    margin-bottom: 15px;
}

