.header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 5px;
    padding-bottom: 10px;
    min-width: 100vw;
    max-width: auto;
    min-height: 1vh;
    max-height: auto;
    border-radius: 1%;
    user-select: none;
    overflow: hidden;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.header_content{
    display: flex;
    flex-direction: row;
}

.header_content .logo{
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    margin: 10px 0px 0px 80px;
=======
    margin: 10px 10px 0px 30px;
>>>>>>> d0101d5 (Todos los archivos fuera)
}

.header_content .logo a{
    text-decoration: none;
}

.header_content .search_input{
    border-radius: 20px;
    min-height: 10px;
    max-height: 45px;
<<<<<<< HEAD
    min-width: 250px;
=======
    min-width: 300px;
>>>>>>> d0101d5 (Todos los archivos fuera)
    max-width: auto;
    padding: 10px 10px 10px 60px;
    margin: 5px 80px 0px -50px;
    border: none;
    background-color: #f0f0f0;
    user-select: text;
    font-family: 'Cuerpo-Satoshi';
    outline: none;
    transition: all 250ms ease;
}

.header_content .search_input:focus{
    background-color: var(--color-hover);
}

.header .item{
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding:2px;
<<<<<<< HEAD
    margin: 5px 10px 0px 10px;
=======
    margin: 0px 20px 0px 20px;
>>>>>>> d0101d5 (Todos los archivos fuera)
    user-select: none;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    transition: all 250ms ease;
    align-self: center;
}

.header .item:hover{
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    font-size: 16px;
}

.search{
    position:relative;
    top: 2px;
    left: 5px;
    background-color: transparent;
    background-image: url("../res/img/find.png");
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    width: 50px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-family: 'Cuerpo-Satoshi';
    font-size: 16px;
    transition: all 250ms ease;
}

.search:hover{
    background-image: url('../res/img/find_hover.png');
    background-repeat: no-repeat;
}

.sign_in{
    height: 20px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 10px;
<<<<<<< HEAD
    margin: 5px 25px 0px -55px;
=======
    margin: 5px 25px 0px -75px;
>>>>>>> d0101d5 (Todos los archivos fuera)
    font-size: 14px;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    text-align: center;
    transition: all 250ms ease;
}

.sign_up{
    height: 20px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: black;
<<<<<<< HEAD
    margin: 5px 25px 0px -5px;
=======
    margin: 5px 25px 0px -20px;
>>>>>>> d0101d5 (Todos los archivos fuera)
    font-size: 14px;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    transition: all 250ms ease;
}

.sign_in:hover{
    font-size: 15px;
}

.sign_up:hover{
    font-size: 15px;
<<<<<<< HEAD
}

.header_content .user_settings{
    justify-content: center;
    align-items: center;
    margin: 15px -65px 10px 10px;
}

.header_content .cart{
    justify-content: center;
    align-items: center;
    margin: 15px 10px 10px -35px;
=======
>>>>>>> d0101d5 (Todos los archivos fuera)
}