.register{
    width: 100vw;
    height: 120vh;
    background-color: #ffffff;
    color: black;
    font-size: 32px;
}

.register_title{
    margin: 80px 20px 0px 60px;
}

.register_title h2{
    font-family: 'Encabezados-FONTSPRING';
    font-size: 24px;
}

.register_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #e0e0e0;
    width:640px;
    height: 420px;
    margin: 10px 20px 20px 380px;
    font-size: 20px;
    font-family: "Cuerpo-Satoshi";
}

.register_container_title h3{
    width: 100%;
    padding-bottom: 20px;
    border-bottom:2px solid #e0e0e0;
}

.register_container_data {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: left;
    justify-content: center;
    
}

.register_container_data input{
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    height: 20px;
    width: 250px;
    padding: 10px 10px 10px 40px;
    margin: 0px 40px 20px 40px;
    border: none;
    background-color: #f0f0f0;
    user-select: text;
    font-family: 'Cuerpo-Satoshi';
    outline: none;
    transition: all 250ms ease;
}

.register_container_data input:focus{
    background-color: var(--color-hover);
}

.register_container_data label{
    margin-top: 7px;
}

.register_container .confirmar{
    height: 40px;
    width: 200px;
    border: transparent;
    text-align: center;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    font-family: "Cuerpo-Satoshi";
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 250ms ease;
}

.register_container .confirmar:hover{
    font-size: 15px;
}